<template>
  <div class="flex flex-col justify-between">
    <div class="my-2 flex flex-wrap justify-center">
      <div
        class="m-1 lg:m-2 text-center"
        v-for="({ id, score, name }, i) in users"
        :key="`${i}-${id}`"
      >
        <div
          class="card card-reveal"
          :style="{
            backgroundColor:
              status === 'ready' ? '#fff' : colors[score] || '#fff'
          }"
        >
          <div class="text-2xl font-bold">
            {{ status === 'reveal' || id === userId ? score : '' }}
          </div>
        </div>
        <div class="font-bold mt-2 text-sm">
          {{ name }}
          <button
            class="inline-flex h-4 w-4 leading-none pb-1 justify-center items-center align-middle ml-1 text-white rounded-full bg-grey-400 font-bold"
            @click="boot(id)"
          >
            x
          </button>
        </div>
      </div>
    </div>
    <div v-if="!user">
      <div class="p-2 mb2 flex items-end">
        <label class="mr-2">Name: <input v-model="name"/></label>
        <button class="btn" @click="join">Join</button>
      </div>
    </div>
    <div v-else class="mt-4 border-t border-grey-800">
      <h2 class="bg-grey-900 text-white p-2 text-center font-lg uppercase">
        {{ status }}
      </h2>

      <div class="flex items-center p-2 lg:p-4">
        <div class="mr-2">Name: {{ user.name }}</div>
        <button
          @click="logout"
          class="text-sm italic text-white rounded px-2 bg-grey-400"
        >
          Not You?
        </button>
      </div>
      <div class="flex flex-wrap justify-center p-1 lg:p-2">
        <button
          v-for="score in scores"
          :key="`score-${score}`"
          class="card m-2 lg:m-2 text-xl font-bold text-center card-select"
          :class="{
            selected: user.score === score
          }"
          :style="{ backgroundColor: colors[score] }"
          @click="setScore(score)"
        >
          {{ score }}
        </button>
      </div>
      <div class="flex justify-center mt-4 -ml-2">
        <button @click="ready" class="btn m-2">Reset and hide cards</button>
        <button @click="reveal" class="btn m-2">Reveal All Cards!</button>
      </div>
    </div>
  </div>
</template>

<script>
import socket from '~/plugins/socket.io.js'

export default {
  async asyncData () {
    let message = ''
    let messages = []
    let users = []

    return {
      status: '',
      name: '',
      userId: false,
      users
    }
  },
  computed: {
    scores () {
      return ['?', 1, 2, 3, 5, 8, 13]
    },
    colors () {
      return {
        '?': '#ffffff',
        '1': '#137177',
        '2': '#188977',
        '3': '#1D9A6C',
        '5': '#56B870',
        '8': '#BFE1B0',
        '13': '#DEEDCF'
      }
    },
    user () {
      if (this.userId && this.users[this.userId]) {
        return this.users[this.userId]
      }

      return false
    }
  },
  watch: {
    messages: 'scrollToBottom',
    userId (userId) {
      localStorage.setItem('userId', userId)
    }
  },
  mounted () {
    socket.on('users', users => {
      this.$set(this, 'users', users)
      if (this.userId && !users[this.userId]) {
        this.saveLocal()
      }
    })

    socket.on('status', status => {
      this.$set(this, 'status', status)
    })

    socket.emit('register', ({ users, status }) => {
      this.users = users
      this.status = status
      this.checkSaved()
    })
  },
  methods: {
    setScore (score) {
      if (!this.user) return
      socket.emit(
        'change-score',
        { score, id: this.user.id },
        ({ users }) => {}
      )
    },
    checkSaved () {
      const savedId = localStorage.getItem('userId')
      if (savedId && this.users[savedId]) {
        this.userId = savedId
      }
    },
    saveLocal (userId = false) {
      this.userId = userId
    },
    ready () {
      socket.emit('ready')
    },
    reveal () {
      socket.emit('reveal')
    },
    join () {
      socket.emit('join', this.name, ({ userId, status, users }) => {
        this.saveLocal(userId)
        this.joined = true
        this.$set(this, 'status', status)
        this.$set(this, 'users', users)
      })
    },
    boot (id) {
      socket.emit('logout', id)
    },
    logout () {
      socket.emit('logout', this.userId)
      this.saveLocal(false)
    }
  },
  head: {
    title: 'Nuxt.js with Socket.io'
  }
}
</script>

<style>
.card {
  @apply p-4 shadow-md border-2 rounded-lg flex items-center justify-center;
  border-color: rgba(0, 0, 0, 0.4);
}

.card-select {
  width: 18vw;
  height: 24vw;

  @screen lg {
    width: 60px;
    height: 90px;
  }
}

.card-reveal {
  width: 15vw;
  height: 22vw;

  @screen lg {
    width: 80px;
    height: 120px;
  }
}

label {
  @apply block;
}

input {
  @apply block p-2 border h-8;
}

.btn {
  @apply bg-black text-white rounded border-none px-4 h-8 inline-flex items-center;
}

* {
  box-sizing: border-box;
}

html {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

html,
input {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue',
    Helvetica, Arial, 'Lucida Grande', sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  word-wrap: break-word;
}

/* Pages */

.pages {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.page {
  height: 100%;
  position: absolute;
  width: 100%;
}

/* Font */

.messages {
  font-size: 150%;
}

.inputMessage {
  font-size: 100%;
}

.log {
  color: gray;
  font-size: 70%;
  margin: 5px;
  text-align: center;
}

/* Messages */

.chatArea {
  height: 100%;
  padding-bottom: 60px;
}

.messages {
  height: 100%;
  margin: 0;
  overflow-y: scroll;
  padding: 10px 20px 10px 20px;
}

/* Input */

.inputMessage {
  border: 10px solid #3b8070;
  bottom: 0;
  height: 60px;
  left: 0;
  outline: none;
  padding-left: 10px;
  position: absolute;
  right: 0;
  width: 100%;
}
</style>
